<div>
    <h1>Beer of the month</h1>
    <img src="{{randombeer.image_url}}" alt="">
    <h3>{{randombeer.name}}</h3>
    <p>{{randombeer.description}}</p>
    <span>{{randombeer.tagline}}</span>

</div>